<div class="footer-wrapper">
    <div class="footer">
        <p>&copy; 2016, HOFSTRA DRC.</p>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="{{ site.asset_url }}/ui/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ site.asset_url }}/ui/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="{{ site.asset_url }}/ui/js/scripts.js"></script>
</div>
