<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
    <title>{{ page.title }}</title>
</head>
<body>
    <h1>{{ page.title }}</h1>
    <h3>Output all sources in collection:</h3>
    <ul>
{% for source in site.sources %}
        <li><a href="{{ source.url }}">{{ source.title }}</a></li>
{% endfor %}
    </ul>
    <h3>Output all categories in collection:</h3>
{% assign groups = site.sources | group_by: "category" | sort: "name" %}
{% for group in groups %}
    <h4>{{ group.name }}</h4>
    <ul>
    {% for item in group.items %}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
{% endfor %}
    <hr/>
    <ul>
{% for tag in site.tags %}
    <li>{{ tag }}</li>
{% endfor %}
    </ul>
</body>
</html>