    body {
        background: #ede0cd;
    }
        body.video {
            background: #211913;
        }
    a {
        color: #625044;
    }
    .footer-wrapper {
        background: #ffffff;
    }
        .footer {
            color: #211913;
        }
            .footer p {
                text-align: left;
            }

            h1,
            .content-wrapper h1 {
                background: none;
                color: #211913;
                font-family: 'Oswald', sans-serif;
                font-size: 45px;
                font-weight: 700;
                line-height: 1.5em;
                margin-bottom: 0;
                padding-top: 60px;
                padding-bottom: 60px;
                text-align: center;
                text-transform: uppercase;
            }
                body.video h1 {
                    color: #ede0cd;
                }
            h2,
            .content-wrapper h2 {
                color: #211913;
                font-family: 'Oswald', sans-serif;
                font-size: 32px;
                font-weight: 700;
                margin-bottom: 1em;
            }
            h3,
            .content-wrapper h3 {
                color: #211913;
                font-family: 'Oswald', sans-serif;
                font-size: 23px;
                font-weight: 700;

                margin-bottom: .5em;
                padding-bottom: 0;
            }
            h4,
            .content-wrapper h4,
            .footer p {
                font-family: 'Montserrat', sans-serif;
                font-size: 12px;
                font-weight: 400;
                margin-bottom: 0;
                text-transform: uppercase;
            }
            p,
            li,
            .content-wrapper p,
            .content-wrapper li {
                font-family: 'Alegreya', serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 2em;
            }
                .browse li {
                    line-height: 1.5em;
                }
                p em,
                p i,
                li em,
                li i,
                .content-wrapper p em,
                .content-wrapper p i,
                .content-wrapper li em,
                .content-wrapper li i {
                    font-style: italic;
                    font-weight: 400;
                }
                p strong,
                p b,
                li strong,
                li b,
                .content-wrapper p strong,
                .content-wrapper p b,
                .content-wrapper li strong,
                .content-wrapper li b {
                    font-weight: 400;
                }
.brand-bar-wrapper {
    background: #ffffff;
    width: 100%;
}
    .brand-bar {
        margin-right: auto;
        margin-left: auto;
        width: 940px;
    }
        .brand-tagline {
            height: 42px;
        }
            .brand-tagline p {
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                font-style: normal;
                line-height: 48px;
            }
                .brand-tagline p a {
                    color: rgba(0, 0, 0, .5);
                    text-decoration: none;
                }
                    .brand-tagline p a:hover {
                        text-decoration: underline;
                    }
                    .brand-tagline p a:first-child {
                        margin-right: 8px;
                    }
    .main-nav-wrapper {
        background: #c2b4a5;
        width: 100%;
    }
        .main-nav {
            line-height: 0;
            text-align: center;
        }
            .main-nav ul {
                display: inline-block;
                float: none;
            }
                    .main-nav ul li a:active,
                    .main-nav ul li a:hover,
                    .main-nav ul li a.active {
                        background: #625044;
                    }
@media all and (max-width: 940px) {
    .brand-bar {
        width: 100%;
    }
            .main-nav ul,
            .main-nav ul.show,
            .main-nav ul li,
            .main-nav ul li a {
                width: 100% !important;
            }
}
                .main-nav ul li {
                    border-left: none;
                    line-height: 2em;
                }
        .content-wrapper {
            background: none;
        }
        .wrapper {
            padding-bottom: 46px;
        }
            .video-wrapper {
                margin-bottom: 60px;
            }
            figure {
                max-width: 900px;
            }
    .meta {
        background: #c2b4a5;
        padding-top: 36px;
    }
@media all and (max-width: 940px) {
    .meta > div {
        padding-right: 20px;
        padding-left: 20px;
    }
}
        .meta h3 {
            margin-bottom: 0;
        }
        .meta h3 a {
            color: #211913;
            text-decoration: none;
        }
        .meta p {
            line-height: 1.5em;
        }
    .content-wrapper {
        margin-bottom: 0;
    }

    p.tag-cloud {
        padding-top: 1em;
    }
    p.tag-cloud span {
        background: #625044;
        color: #FFFFFF;
        display: inline-block;
        font-family: "Montserrat", sans-serif;
        font-size: 13px;
        margin: 2px;
        padding-top: 4px;
        padding-right: 8px;
        padding-bottom: 4px;
        padding-left: 8px;
    }
        p.tag-cloud span a {
            color: #FFFFFF;
            text-decoration: none;
        }
